@iport url (https://fonts.google.com/specimen/Open+Sans+Condensed);
h1 {font: bold 1.5em "Marko One", Georgia, serif; color: #d98880; border-radius: 10% / 50%; text-align: center;}
h2 {font-size 1em; text-transform: uppercase; color: #641e16; letter-spacing: .1em}
h2 + p {text-align: left; font-style: italic;}
li {font weight: bold; color: sienna;}
h2, #info {text-align: left;}
h3 {text-align: center; color: #d98880; font-size: x-large; font-family: "Marko One", Georgia, serif;}
#info p {font-style; italic; color: gray}
body {font-family: "Open Sans Condensed", serif; font-size: small; line-height: 1.75em;}

body {
  background-color: #faf2e4;
  margin: 0 10%;f}

